doctype html
html
  head
    title my jade template
    script(type='text/javascript' src='//localhost:35729/livereload.js')
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(type='text/javascript' src='js/test.js')
    link(href='/stylesheets/styles.css', rel='stylesheet')
    
  body
    h1 Hellos