doctype html
html
  head
    title Hi!!
    include includes/scripts.jade
  body
    a(href="/drawing.html") Click On Me!!!!!
    a(href="/rgbMatrix.html") Draw me Something!!!!!
    a(href="/ludo.html") Lets Play Ludo!!!!!